<nav id="selectbar">
	<ul>
		<li><a class="menuSelect" routerLink="/clients">Clients</a></li>
		<li><a class="menuSelect" routerLink="/doctors">Veterinary</a></li>
		<li><a class="menuSelect" routerLink="/rooms">Rooms</a></li>
	</ul>
</nav>
<main id="main">
	<a id="add" class="butt" routerLink="create">New veterinary</a>
	<h1>Veterinarians list</h1>
	<ul>
		<li class="item" *ngFor="let doc of doctors">
			<div class="itemtxt">
				<h3>{{doc.firstName}} {{doc.lastName}} <button class="butt" (click)="delete(doc)">Delete</button></h3>
			</div>			  
		</li>
	</ul>
</main>