<nav id="selectbar">
	<ul>
		<li><a class="menuSelect" routerLink="/clients">Clients</a></li>
      	<li><a class="menuSelect" routerLink="/doctors">Veterinary</a></li>
		<li><a class="menuSelect" routerLink="/rooms">Rooms</a></li>
	</ul>
</nav>
<main id="main">
	<a id="add" class="butt" routerLink="create">New client</a>
	<h1>Clients list</h1>
	<ul>
		<li class="item" *ngFor="let cli of clients" [class.selected]="cli === selectedClient" (click)="onSelect(cli)">
			<div class="itemtxt">
       			<h3>{{cli.firstName}} {{cli.lastName}}</h3>
       			<p>{{cli.address}}</p>
       		</div>
		</li>
	</ul>
</main>