<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Clients</title>
</head>
<body>
	<nav id="selectbar">
		<ul>
			<li><a class="menuSelect" routerLink="/clients">Clients</a></li>
      <li><a class="menuSelect" routerLink="/doctors">Veterinary</a></li>
			<li><a class="menuSelect" routerLink="/rooms">Rooms</a></li>
		</ul>
	</nav>
	<main id="main">
    <div class="content">
		<a id="add" routerLink="create">Add a new client</a>
			<ul>
				<li class="client" *ngFor="let cli of clients"
				[class.selected]="cli === selectedClient" (click)="onSelect(cli)">
				<h4><a routerLink="infos">{{cli.firstName}} {{cli.lastName}} {{cli.address}}</a> <button (click)="delete(cli)">X</button></h4>

			</li>
		</ul>
    </div>
	</main>
</body>
</html>
