<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Clients</title>
</head>
<body>
	<nav id="selectbar">
		<ul>
			<li><a class="menuSelect" routerLink="/clients">Clients</a></li>
		  	<li><a class="menuSelect" routerLink="/doctors">Doctors</a></li>
			<li><a class="menuSelect" routerLink="/rooms">Rooms</a></li>
		</ul>
	</nav>
	<main id="main">
    <div class="content">
		<a routerLink="create">Add a new client</a><br/>
			These are the clients :
			<ul>
				<li *ngFor="let cli of clients"
				[class.selected]="cli === selectedClient" (click)="onSelect(cli)">
				<h4>{{cli.id}} - {{cli.firstName}} {{cli.lastName}} <button (click)="delete(cli)">X</button> </h4>
				<p>Phone Number: {{cli.phoneNumber}} <br/> Address: {{cli.address}}</p>
			</li>
		</ul>
    </div>
	</main>
</body>
</html>