<body>
  <nav id="selectbar">
  <ul>
      <li><a class="menuSelect" routerLink="/clients">Clients</a></li>
      <li><a class="menuSelect" routerLink="/doctors">Veterinary</a></li>
      <li><a class="menuSelect" routerLink="/rooms">Rooms</a></li>
  </ul>
</nav>
<main id="main">
  <h4>Room {{room.id}}</h4>
  <p>{{room.material}}</p>

  <button class="butt">Modify</button>
  <button class="butt" (click)="delete(cli)">Delete</button>
  <button class="butt" (click)="back()">Back</button>
</main>
</body>