<body>
  <nav id="selectbar">
  <ul>
      <li><a class="menuSelect" routerLink="/clients">Clients</a></li>
      <li><a class="menuSelect" routerLink="/doctors">Veterinary</a></li>
      <li><a class="menuSelect" routerLink="/rooms">Rooms</a></li>
  </ul>
</nav>
<main id="main">
  <h4>Room {{room.id}}</h4>
  <p>{{room.material}}</p>

  <h4>Modify</h4>

  <div>
      <input class="textboxlong" id="material" type="text" [(ngModel)]="updatedRoom.material" name="masterial" placeholder="Modify the description of the material">
  </div>
  <button class="butt" (click)="update()">Modify</button>
  <button class="butt" (click)="delete(room)">Delete</button>
  <button class="butt" (click)="back()">Back</button>
</main>
</body>