<nav id="selectbar">
  <ul>
    <li><a class="menuSelect" routerLink="/clients">Clients</a></li>
	  <li><a class="menuSelect" routerLink="/doctors">Veterinary</a></li>
		<li><a class="menuSelect" routerLink="/rooms">Rooms</a></li>
  </ul>
</nav>
<main id="main">
  <a id="add" class="butt" routerLink="create">Add a new Room</a>
  <h1>Rooms list</h1>
  <ul>
    <li class="item" *ngFor="let room of rooms" (click)="onSelect(room)" routerLink='infos'>
      <div class="itemtxt">
        <h3>{{room.id}} - {{room.material}}</h3>
        <button id="modButton" class="butt" (click)="delete(doc)">Modify</button>
      </div>
    </li>
  </ul>
</main>