<body>
    <nav id="selectbar">
    <ul>
        <li><a class="menuSelect" routerLink="/clients">Clients</a></li>
        <li><a class="menuSelect" routerLink="/doctors">Veterinary</a></li>
        <li><a class="menuSelect" routerLink="/rooms">Rooms</a></li>
    </ul>
</nav>
<main id="main">
    <a id="add" class="butt" (click)="delete(cli)">Delete client</a>
    <h1>{{cli.firstName}} {{cli.lastName}}</h1>
    <p>Address: {{cli.address}}<br/>
    Phone Number: {{cli.phoneNumber}}</p>

    <h4>{{cli.firstName}}'s animals</h4>
    <ul>
        <li class="item" *ngFor="let animal of clientAnimals" [class.selected]="animal === selectedAnimal" (click)="onSelect(animal)" routerLink="animal">
            <div class="itemtxt">
                <h3>{{animal.name}}</h3>
                <p>{{animal.sex}} - {{animal.species}}</p>
            </div>
        </li>
    </ul><br>
    <button class="butt" routerLink="addanimal">New animal</button>

    <h4>Update infos</h4>

    <form>
        <div class="formfield">
            <input class="textboxshort" id="firstName" type="text" [(ngModel)]="updatedClient.firstName" name="firstName" placeholder="Modify first name">
            <input class="textboxshort" id="lastName" type="text" [(ngModel)]="updatedClient.lastName" name="lastName" placeholder="Modify last name">            
        </div>
        
        <div class="formfield">
            <input class="textboxlong" id="address" type="text" [(ngModel)]="updatedClient.address" name="address" placeholder="Modify address">
        </div>
        
        <div class="formfield">
            <input class="textboxlong" id="phoneNumber" type="text" [(ngModel)]="updatedClient.phoneNumber" name="phoneNumber" placeholder="Modify phone number">
        </div>
    </form>
    
    <button class="butt" (click)="update()">Update</button>
    <button class="butt" (click)="back()">Back</button>
</main>
</body>