<nav id="selectbar">
  <ul>
    <li><a class="menuSelect" routerLink="/clients">Clients</a></li>
    <li><a class="menuSelect" routerLink="/doctors">Veterinary</a></li>
    <li><a class="menuSelect" routerLink="/rooms">Rooms</a></li>
  </ul>
</nav>
<main id="main">
  <h1>New room</h1>
  <form>
    <div class="formfield">
      <input class="textboxlong" type="text" id="material" required [(ngModel)]="room.material" name="material" placeholder="Describe room material">
    </div>
    </form>
  <button class="butt" (click)="save()" routerLink="/rooms">Create</button>
  <button class="butt" (click)="goBack()">Back</button>
</main>