<nav id="selectbar">
  <ul>
    <li><a class="menuSelect" routerLink="/clients">Clients</a></li>
    <li><a class="menuSelect" routerLink="/doctors">Veterinary</a></li>
    <li><a class="menuSelect" routerLink="/rooms">Rooms</a></li>
  </ul>
</nav>
<main id="main">
  <h1>New client</h1>
  <form>
    <div class="formfield">
      <input class="textboxshort" type="text" id="firstname" required [(ngModel)]="client.firstName" name="firstname" placeholder="First name">
      <input class="textboxshort"type="text" id="lastname" required [(ngModel)]="client.lastName" name="lastname" placeholder="Last name">
    </div>

    <div class="formfield">
      <input class="textboxlong" type="text" id="phonenumber" required [(ngModel)]="client.phoneNumber" name="phonenumber" placeholder="Phone number">
    </div>

    <div class="formfield">
      <input class="textboxlong" type="text" id="address" required [(ngModel)]="client.address" name="address" placeholder="Address">
    </div>
  </form>      
  <button class="butt" (click)="save()" routerLink="/clients">Create</button>
  <button class="butt" (click)="goBack()">Back</button>
</main>