#menubar {
    margin: 0 auto;
    height: 74px;
    display: block;
	color: #F0F5FF;
	background-color: cornflowerblue;
	text-align: center;
	border-collapse: separate;
	border-spacing: 20px 0;
}

#logo {
    height: 74px;
	float: left;
}

#name {
	padding: 10px 20px;
	font-size: 42px;
	float: left;
}

.menu {
	padding: 21px;
	font-size: 27px;
	text-decoration: none;
	color: #F0F5FF;
	cursor: pointer;
	float: right;
	transition: 0.2s;
}

.menu:hover {
	background-color: #F0F5FF;
	color: cornflowerblue;
}