/*SET DE COULEURS : 
	Blanc :	#F0F5FF
	Noir :		#446
	turquoise :		#73aeab
	saumon : 		#efa18c
	orange pâle : 	#f7d1aa
	jaune pâle :	#ffefc7
*/

html {
    margin: 0;
    padding: 0;
	font-family: Calibri;
	font-size: 20px;
	color: #446;
    background-color: #F0F5FF;
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

#menubar {
    margin: 0 auto;
    height: 74px;
	color: #F0F5FF;
	background-color: cornflowerblue;
	border-collapse: separate;
	border-spacing: 20px 0;
}

#logo {
    height: 74px;
	float: left;
}

#name {
	padding: 10px 20px;
	font-size: 42px;
	float: left;
}

#selectbar {	
    margin: 0 auto;
    height: 50px;
	background-color: #F0F5FF;
	border-collapse: separate;
	border-spacing: 20px 0;
}

.inline-list li {
    display: inline-block;
}

.menu {
	padding: 20px;
	font-size: 26px;
	color: #F0F5FF;
	cursor: pointer;
    float: right;
	transition: 0.2s;
}

.menu:hover {
	background-color: #F0F5FF;
	color: cornflowerblue;
}

.menuSelect {
	padding: 10px;
	color: cornflowerblue;
	cursor: pointer;
	border-bottom: 3px solid transparent;
	transition: 0.2s;
}

.menuSelect:hover {
	color: #002288;
	border-color: #002288;
}