<nav id="selectbar">
  <ul>
    <li><a class="menuSelect" routerLink="/clients">Clients</a></li>
    <li><a class="menuSelect" routerLink="/doctors">Veterinary</a></li>
    <li><a class="menuSelect" routerLink="/rooms">Rooms</a></li>
  </ul>
</nav>
<main id="main">
  <h1>Add an animal</h1>

  <form>
    <div class="formfield">
      <input class="textboxlong" id="name" type="text" required [(ngModel)]="animal.name" name="name" placeholder="Name">
    </div>
    <div class="formfield">
      <input class="textboxshort" id="sex" type="text" required [(ngModel)]="animal.sex" name="sex" placeholder="Sex">
      <input class="textboxshort" id="species" type="text" required [(ngModel)]="animal.species" name="species" placeholder="Species">
    </div>
    <div class="formfield">
      <input class="textboxlong" id="birthDate" type="text" required [(ngModel)]="animal.birthDate" name="birthDate" placeholder="Birthdate">
    </div>
    <div class="formfield">
      <select class="textboxlong" [(ngModel)]="selectedVet" name="id" id="id" #Id="ngModel">
        <option selected="selected" disabled>Chose a veterinary</option>
        <option *ngFor="let vet of vetos" [ngValue]="vet">{{vet.lastName}}</option>
      </select>
    </div>
  </form>
  <button class="butt" (click)="save()" routerLink="/clients">Add</button>
  <button class="butt" (click)="goBack()">Back</button>
</main>