<body>
  <nav id="selectbar">
  <ul>
      <li><a class="menuSelect" routerLink="/clients">Clients</a></li>
      <li><a class="menuSelect" routerLink="/doctors">Veterinary</a></li>
      <li><a class="menuSelect" routerLink="/rooms">Rooms</a></li>
  </ul>
</nav>
<main id="main">
  <h4>{{vet.firstName}} {{vet.lastName}}</h4>

  <h4>Modify</h4>

  <div>
      <input class="textboxlong" id="firstName" type="text" [(ngModel)]="updatedVet.firstName" name="firstName" placeholder="Modify the first name">
      <input class="textboxlong" id="lastName" type="text" [(ngModel)]="updatedVet.lastName" name="lastName" placeholder="Modify the last name">
  </div>
  <button class="butt" (click)="update()">Modify</button>
  <button class="butt" (click)="delete(vet)">Delete</button>
  <button class="butt" (click)="back()">Back</button>
</main>
</body>